section {
    margin: 1rem;
}

.starTitle::before {
    display: inline-block;
    content: "";
    margin-right: 0.3rem;
    width: 1rem;
    height: 1rem;
    background: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 64 64"%3E%3Cpath fill="%23ffce31" d="M62 23H39.1L32 2l-7.1 21H2l18.5 13l-7.1 21L32 44l18.5 13l-7.1-21L62 23z"%2F%3E%3Cpath fill="%23ffdf85" d="m46.2 20.3l4-11.4l-10.5 7.2l1.5 4.2zM27.9 50L32 62l4.1-12l-4.1-2.8zm22.8-15.7l-3.8 2.6l1.6 4.8h12.9zM24.3 16.1L13.8 8.9l4 11.4h5zm-11 18.2L2.6 41.7h12.9l1.6-4.8z"%2F%3E%3C%2Fsvg%3E')
        no-repeat;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.stats {
    text-align: center;
}
.stats div:first-child {
    font-size: 120%;
    color: #313132;
}
.stats div:last-child {
    font-size: 80%;
    color: #969995;
}

.xScroll {
    display: flex;
    overflow-x: auto;
}
.avatar {
}
.avatarCard {
}
.avatarImg {
    max-width: 160px;
}
.avatarLevel {
    text-align: center;
}

.worlds {
    padding: 1rem;
}
.world {
    text-align: center;
    padding: 1rem;
    color: #fff;
    min-width: 180px;
}

.slider {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    margin: auto;
}
.sliderItem {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-right: 1rem;
}
.homeTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 0.5rem 1rem;
}
.homeIcon {
    max-height: 2rem;
}
.homeName {
    display: flex;
    align-items: center;
}
.homeInfo {
    margin: 1rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}
.homeStat {
    text-align: center;
    padding: 1rem;
}

.homeStat div:first-child {
    font-size: 120%;
    color: #eee;
}
.homeStat div:last-child {
    font-size: 80%;
    color: #ccc;
}
